import React, { FunctionComponent } from 'react';

interface <%= myComp %>Props {
    myProp: any;
}

// tslint:disable-next-line:variable-name
export const <%= myComp %>: FunctionComponent<<%= myComp %>Props> = ({ myProp }) => (
    <div>{myProp}</div>
);
