import * as React from 'react';

interface <%= myComp %>Props {
    myProp: any;
}

// tslint:disable-next-line:variable-name
export const <%= myComp %>: React.SFC<<%= myComp %>Props> = ({ myProp }) => (
    <div>{myProp}</div>
);
